/* game area for all games */

#gameArea {
  position: absolute;

  width: 1058px;
  height: 676px;

  /* center it */
  left: 50%;
  margin-left: -529;

  font-family: "Helvetica", Helvetica, sans-serif;
  background-image:url('/imgs/background-loading.png');
}

#gameArea div {
  position: inherit;
}

#gameArea #username {
  left: 454px;
  top: 23px;

  font-size: 24px;

  color: white;
  width: 500px;
  text-align: right;
}

#gameArea #logout {
  left: 959px;
  top: 26px;
  font-size: 20px;
  color: white;
}

#gameArea #logout a {
  color: white;
}

#gameArea .gameView {
  width: 100%;
  height: 100%;
}

/* shows the remaining seconds */
#gameArea .gameView #remaining {
  position: absolute;
  left: 48px;
  top: 233px;
  color: #515151;
  font-weight: bold;
  font-size: 41px;
}

/* game elements */

#prototypes {
  visibility: hidden;
}

/* covers up other elements */

#cover {
  position: absolute;
  left: 30px;
  top: 55px;
  z-index: 3000;
  width: 700px;
  height: 600px;
  opacity: 0.65;
  background-color: white;
  visibility: hidden;
}

/* do game */

.doGameView {
  background-image: url('/imgs/background-do.png')
}

.doGameView #buttonPanel {
  position: absolute;
  left: 165px;
  top: 241px;
  width: 290px;
  text-align: center;
}

.doGameView #buttonPanel button {
  font-size: 14px;
}

/* type game */

.typeGameView {
  background-image: url('/imgs/background-type.png');
}

/* test game */

.testGameView {
  background-image: url('/imgs/background-test.png')
}

.testGameView #testAddCalendar {
  position: absolute;
  left: 50px;
  top: 176px;
}

/* admin game */

.adminGameView {
  background-image: url('/imgs/background-admin.png')
}

.adminGameView #console {
  position: absolute;
  width: 542px;
  height: 179px;
  top: 88px;
  left: 161px;

  overflow-x: auto;
  overflow-y: auto;
  background-color: white;
  border: 1px inset;

  font-family: monospace;
  font-size: 12px;
}

.adminGameView #console div {
  position: static;
  margin: 3px;
  margin-bottom: 5px;
}

/* nice looking, simple scrollbars */

::-webkit-scrollbar {
  width: 8px;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
