.guideView {
  width: 100%;
}

.guideView #instructionList {
  width: 286px;
  height: 154px;
  position: absolute;
  left: 426px;
  top: 89px;
  overflow-x: visible !important;
  overflow-y: scroll;
  background-color: white;
  border: 1px inset;
}


.guideView #instructionInput {
  width: 289px;
  position: absolute;
  left: 426px;
  top: 246px;
  font-size: 16px;
}
