.rabbleView {
  left: 161px;
  top: 90px;
  width: 246px;
  height: 182px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.rabbleView #container {
  width: 100%;
  height: 0px; /* will be set by util.addVertical() */
}
