<html>

<head>

<title>Skip and Malice (for Tobey and Adrien)</title>

<!-- PAGE JAVASCRIPT -->

<script src="libs/jquery-1.7.2.min.js"></script>
<script src="libs/jquery-ui-1.8.21.custom.min.js"></script>
<script src="libs/underscore-min.js"></script>
<script src="libs/backbone-0.9.2.min.js"></script>

<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script src="js/malice.js"></script>

<!-- PAGE CSS -->

<link rel="stylesheet" type="text/css" href="libs/smoothness/jquery-ui-1.8.21.custom.css"/>
<!-- <link rel="stylesheet" type="text/css" href="css/game.css"/> -->
  
</head>

<body>  

<!-- game area -->
<div id="gameArea">
  game areas
</div>


<!-- game element prototypes -->
<div id="prototypes">
</div>  


</body>

</html>